<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080979433028-ardi4hmqsd89rpr3khee4vr1d3cofm3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080979433028-ardi4hmqsd89rpr3khee4vr1d3cofm3f</string>
	<key>API_KEY</key>
	<string>AIzaSyCRzph3K_iH2fsPUsvL5rSAUY2EmaRxtMg</string>
	<key>GCM_SENDER_ID</key>
	<string>1080979433028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kayitlar</string>
	<key>PROJECT_ID</key>
	<string>aloziraat-62060</string>
	<key>STORAGE_BUCKET</key>
	<string>aloziraat-62060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080979433028:ios:384f877df9ccdf2ab4be11</string>
	<key>DATABASE_URL</key>
	<string>https://aloziraat-62060-default-rtdb.firebaseio.com</string>
</dict>
</plist>